<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Wa<b class="toolbar">ssel</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <img class="imgHeader" src="assets/img/back.jpg">
      </div>
    <div class="flex">
        <h2> apllication Wassel</h2>
          <div class="vl"></div>
        <img class="logo"src="assets/icon/App Icon.png" >
      </div>
  <h1>Reset Your Password</h1>
  <form [formGroup]="forgetPasswordForm">
      <ion-label>Email</ion-label>
      <br>
      <br>
    <ion-item lines="none">
      <ion-input formControlName="email" type="text" placeholder="Enter your Email"class="form-control ">
        <ion-icon class="icon" name="mail"></ion-icon>
      </ion-input>
    </ion-item>

   
      <ion-button class="login" (click)="resetPassword()"> <strong> Reset</strong></ion-button>
      
  </form>
</ion-content>
